@charset "utf-8";
/* CSS Document */


/*	back to top*/
html{
  scroll-behavior: smooth;
}
body{

  margin: 0;
  padding: 0;
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: url("../img/btt2.png");
  background-size: 50px;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}


